* {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    font-family: 'Noto Serif', serif;

}

#title {
    color: purple;
    text-align: center;
    font-weight: 700;
}
.navagation {
text-align: center;
}
.navagation ul li{
    display: inline-flex;
    padding: 5px 15px;
}

.navagation ul li a {
    text-decoration: none;
    color: white;    
}

main #home {
    margin-top: 2rem;
    position: absolute;
    width: 100vw;
    color: white;
    border: 1px solid white;
}

main #home img {
    width: 40%;
    position: relative;
    float: left;
}

.introdution-title {
    padding: 1.5rem 0;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}

.introdution-sub-title {
    padding: 0;
    text-align: center;
    font-weight: 400;
    font-size: 22px;
}