* {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    
    background-color: white;
    font-family: 'Noto Serif', serif;
}

#title, h3{
    color: purple;
    text-align: center;
    font-size: 3rem;
}

#home{
    position: relative;
    display: flex;
    justify-content: center;
    max-height: max-content;
}


#IMG-hero {
    display: flex;
    width: 70%;
}

.navagation{
    position: absolute;
}

.navagation li {
    display: inline-block;
    margin: 0 0 0 15px;   
}
.navagation a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
}

